{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

<style>
    body{
        background-color: #fcdcd4;
        width: 100%;
        
        
    }
    .card:hover{
        box-shadow: 0 0 10px 2px hsl(0, 0%, 0%);
        float: left;
        flex: auto;
    }
    #div2 {
      
      position: relative;
      animation-name: example1;
      animation-duration: 2s;  
      animation-fill-mode: forwards;
    }
    @keyframes example1 {
      from {top:100px;}
      to {top: 30px; color: rgb(199, 197, 197);}
      
    }

    /* rating */
    .rating {
    width: 300px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
    }
    .rating input {
    float: right;
    opacity: 0;
    position: absolute;
    }
    .rating a, 
    .rating label {
                float:right;
                color: #aaa;
                text-decoration: none;
                -webkit-transition: color .4s;
                -moz-transition: color .4s;
                -o-transition: color .4s;
                transition: color .4s;
            }
    .rating label:hover ~ label,
    .rating input:focus ~ label,
    .rating label:hover,
            .rating a:hover,
            .rating a:hover ~ a,
            .rating a:focus,
            .rating a:focus ~ a		{
                color: orange;
                cursor: pointer;
            }
            .rating2 {
                direction: rtl;
            }
            .rating2 a {
                float:none
            }
            
</style>
<section class=" ">
<div style="background-color: #fcdcd4;">
    <div class="row mt-3 mb-3" style="background-color:#fcdcd4; ">
           

  <div style="background-color:#fcdcd4; padding-left:1.5rem; padding-top: 2%;" class="d-flex justify-content-center">
      <div class="row pt-3">
        <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: center; margin: 0 auto;">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
          
      </div>
      <fieldset1 id="field1">
    <div class="row justify-content-center mx-2px " style="padding-top: 5rem;" > <!-- Add the justify-content-center class to center the cards -->
        {% for data in items %}
            <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4 outers mb-4"" >
                <div class="card h-100" style="max-width: 540px; min-height:280px;">
                    <div class="row g-0 ">
                        <div class="col-md-6 mt-3 p-2">
                            <img src="{{data.image.url}}" class="img-fluid rounded-start w-100 " alt="..." style="height: auto;">
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <div class="card-body text-center mt-3">
                                <h5 class="card-title" style="font-family: cursive;">{{data.name}}</h5>
                                <h5 style="color: #D8A382;">₹ {{data.price}} <span style="font-size: 14px; color: #04A454;">{{data.offer}}% off</span></h5>
                                <p class="card-text">{{data.title_description}}</p>
                                <div class="row mt-2">
                                    <div class="col-sm-12 text-center">
                                        
                                        <a href="{% url 'new_module_edit' data.id %}" class="btn btn-success"><i class="fa fa-edit mr-2" style="font-size:20px"></i>Edit</a>
                                        <a href="{% url 'delete_item' data.id %}" class="btn btn-danger"><i class="fa fa-trash-o mr-2" style="font-size:20px"></i>Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</fieldset1>

  </div>
</section>
  <script>
    const input = document.getElementById('search')
    input.addEventListener('keyup', (e) => {
    var inputs = e.target.value.toLowerCase(); //do lowercase
    document.querySelectorAll('.outers').forEach(function(el) {
        el.style.display = 'none';
    });

    document.querySelectorAll('.outers .card-title').forEach(function(el) {
        //compare 
        if (el.textContent.toLowerCase().indexOf(inputs) > -1) {
        el.closest('.outers').style.display = "block"; //if match show that div
        }
    })
    })
</script> 


  <script>
      
       function fieldset1_function(){
          document.getElementById('field2').style.display="none";
          document.getElementById('field1').style.display="block";

       }
       function fieldset2_function(){
          document.getElementById('field1').style.display="none";
          document.getElementById('field2').style.display="block";

       }
 
   </script> 

   {%  endblock %}
